<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'error.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'style_form.css' %}" type="text/css">
</head>
<body>
<h2>Room Reservation System</h2>
<!-- Nav -->
<div class="nav">
    <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/room-list/" class="nav-link"><em>Rooms list</em></a></li>
        <li><a href="/add-room/" class="nav-link">Add Room</a></li>
    </ul>
</div>
<!-- Nav -->
<!-- error -->
{% if error %}
<div class="center">
<p>{{error}}</p>
</div>
{% endif %}


<!-- Form -->

<form action="" method="post">{% csrf_token %}
    <label>Room Name
        <input name="name" type="text" class="feedback-input" placeholder="Room Name" />
    </label>
    <label>Room Capacity
        <input name="capacity" type="number" step="1" class="feedback-input" value="10" />
    </label>
    <label>Projector available?
        <input type="checkbox" name="projector" class="feedback-input">
    </label>

    <input type="submit" value="SUBMIT"/>
</form>
<!-- Form -->

<!-- Footer -->
<div class="footer">
    <p>Author: Michal Czarnecki</p>
</div>
<!-- Footer -->
</body>
</html>