<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
<h2>Room Reservation System</h2>
<!-- Nav -->
<div class="nav">
  <ul>
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/room/list/" class="nav-link"><em>Rooms list</em></a></li>
    <li><a href="/room/new/" class="nav-link">Add Room</a></li>
  </ul>
</div>
<!-- Nav -->
<!-- Footer -->
<div class="footer">
  <p>Author: Michal Czarnecki</p>
</div>
<!-- Footer -->
</body>
</html>